.Card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: red;
  color: #fff;

  .Header {
    display: flex;
    justify-content: start;

    .Title {
        flex: 1;
        padding: 5px;
      }
    }

    .Red {
      background-color: #c62828;
    }

    .Content {
      padding: 20px;
    }
  
}

.Card.Red .Content {
  background-color: #f44336;
}

.Card.Green .Header {
  color: #fff;
  background-color: #2e7d32;
}
.Card.Green .Content {
  background-color: #4caf50;
}

.Card.Blue .Header {
  color: #fff;
  background-color: #1565c0;
}
.Card.Blue .Content {
  background-color: #2196f3;
}

.Card.Purple .Header {
  color: #fff;
  background-color: #9c27b0;
}
.Card.Purple .Content {
  background-color: #9d51aa;
}
